html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}/* 清除浮动 */.clear:after {content: '\20';display: block;height: 0;clear: both;}.clear{*zoom: 1;}

html,body{
    font:12px/1.5 \5FAE\8F6F\96C5\9ED1, "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    padding: 0;
    background: url(../bg/na.jpg) no-repeat;
    background-size: 100%
}
h1{
    padding: 0 0 0 20px;
    font-size: 700%;
    color: #fff
}
a{color:#666;text-decoration:none}
.container{
    position: fixed;
    right: 0;
    top: 0;
    width: 450px;
    height: 100%;
    background: rgba(0,0,0,.618)
}
.weather-widget-wrapper{
    width: 100%;
    height: 100%;
    position: relative
}
.weather-widget-wrapper .set-units{
    height: 20px;
    position: absolute;
    z-index: 9;
    right: 0;
    top: 0
}
.weather-widget-wrapper .set-units .disabled{
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(255,255,255,.5);
    height: 100%;
    width: 100%
}
.weather-widget-wrapper .set-units li{
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    float: left;
    background: #bbb;
    padding: 0 8px;
    cursor: pointer
}
.weather-data-source{
    padding: 0 20px 0 0;
    text-align: right;
    color: #eee;
    font-size: 10px
}
.weather-widget-wrapper .set-units li.active{background:#fff}
.weather-widget-wrapper .set-units li.last{border-right:none;width: 35px}
.weather-widget{
    padding: 20px
}
.weather-widget h3{font-size: 140%;padding: 0 0 5px;border-bottom: 1px solid rgba(255,255,255,.2);color: #fc0}
.weather-widget img{position: absolute;left:5px;bottom: 30px}
.weather-widget .weather-sum{padding: 5px 0 0}
.weather-widget .weather-icon{position: absolute;right:0;top:50px;width: 185px;height: 120px}
.weather-widget .temp{position: relative}
.weather-current-temp{font-size: 700%}
.current-date{display: block;padding: 5px 0 0;width: 100%}
.weather-widget .current {padding:0 0 15px;border-bottom: 1px solid rgba(255,255,255,.1);color: #eee}
.weather-widget .temp em{font-size: 160%;position: absolute;right: 180px;top: 10px;color: #06c}
#weather-current{position:relative;padding:20px 20px 0}
#weather-forecast{position:relative;padding:20px}
.forecast{padding: 10px 0 0}
.details{text-align: right}
.day-details{
    width:100%;
    border-bottom: 1px solid rgba(255,255,255,.1);
    color: #eee
}
.day-details li{
    display: inline-block;
    width: 90px;
    padding: 0 0 5px
}
.loading-current{
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    background: url(../images/ajax-loader.gif) no-repeat 50% 50%;
    z-index: 1
}
.loading-forecast{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/ajax-loader.gif) no-repeat 50% 50%
}