html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}/* 清除浮动 */.clear:after {content: '\20';display: block;height: 0;clear: both;}.clear{*zoom: 1;}

html,body{
    font:12px/1.5 \5FAE\8F6F\96C5\9ED1, "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    padding: 0
}
h1{
    padding: 0 0 0 20px;
    font-size: 600%;
    color: #fff
}
a{color:#666;text-decoration:none}
.container{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 1280px;
    white-space: nowrap
}
.weather-widget-wrapper{
    width: 100%;
    position: relative;
    padding: 21px 0 0
}
.weather-widget-wrapper .set-units{
    height: 20px;
    position: absolute;
    right: 0;
    top: 0
}
.weather-widget-wrapper .set-units .disabled{
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(255,255,255,.5);
    height: 100%;
    width: 100%
}
.weather-widget-wrapper .set-units li{
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    float: left;
    background: #bbb;
    padding: 0 8px;
    cursor: pointer
}
.weather-data-source{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #999;
    font-size: 10px
}
.weather-widget-wrapper .set-units li.active{background:#fff}
.weather-widget-wrapper .set-units li.last{border-right:none;width: 35px}
.weather-widget{
    height:285px;
    background: #fff;
    font-size:12px;
    box-shadow: 0 0 1rem rgba(0,0,0,.1)
}
.weather-widget h3{font-size: 140%;padding: 0 0 5px;border-bottom: 1px solid #eee;color: #007fe1}
.weather-widget img{position: absolute;left:5px;bottom: 30px}
.weather-widget .weather-sum{position: absolute;left: 0;top: 10px}
.weather-widget .weather-icon{position: relative;width: 185px}
.weather-widget .temp{position: relative;height: 77px}
.weather-current-temp{font-size: 500%; position: absolute;top: -15px;left: -10px}
.current-date{display: block;padding: 5px 0 0;width: 100%}
.weather-widget table{width: 100%;color: #333}
.weather-widget table.current caption{padding: 5px;text-align: left;border-bottom: 1px solid #eee}
.weather-widget table.current td{padding: 5px 10px 5px 0;border-bottom: 1px solid #ccc}
.weather-widget .temp em{font-size: 12px;position: absolute;right: -10px;top: 5px}
#weather-current{position:relative; width:320px;height:245px;padding:20px;float: left;background: #eee}
#weather-forecast{position:relative;height: 245px;padding:20px;margin-left: 380px}
.forecast{padding: 10px 0 0}
.day-details{
    width:130px;
    border:1px solid #e0e0e0;
    color: #777;
    margin:0 10px 0 0;
    padding:15px 0;
    text-align: center;
    float: left;
    white-space: nowrap;
    box-shadow: 0 0 1rem rgba(0,0,0,.1)
}
.loading-current{
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    background: #eee url(../images/ajax-loader-e.gif) no-repeat 50% 50%;
    z-index: 1
}
.loading-forecast{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff url(../images/ajax-loader.gif) no-repeat 50% 50%
}